# Exploring the Indian Startup Ecosystem: A Data Driven Analysis of Funding Trends and Industry Sectors

## Business Understanding
### Business Scenario
Your team is trying to venture into the Indian start-up
ecosystem. As the data expert of the team, you are to
investigate the ecosystem and propose the best course
of action.

*Analyze funding received by start-ups in India from
2018 to 2021.*
- Separate data for each year of funding will is
provided.
- In these datasets, you'll find the start-ups' details,
the funding amounts received, and the investors'
information.

### Business Objective
The aim of this project is to perform analysis on the Indian start-ups ecosystem and advice stakeholders on which venture to invest in to increase the potential of high profit/income.

## Hypothesis Testing
*Hypothesis* - The amount of funds a company receive depends on the sector a company finds itself
- Null Hypothesis(H_o) - The funds a company receive does not depend on the sector of investment
- Alternate Hypothesis(H_a) - The funds a company receive depends on the sector of investment

### Business Questions
- Which particular sector received the most funding over the time frame?
- The distribution of start ups in stages and the amount allocated each?
- What is the distribution of fundings based on locations?
- Which year had the most investors?
- Top 3 investor considerations in investing in start ups
- What was the impact of COVID-19 pandemic on startup funding in 2020?

# Data Loading and Exploration

## Data Dictionary

| Column Names|Description| Data Type|
|-------------|-----------|----------|
|Company/Brand|Name of company/start-up|Object|
|Founded|Year Start-up was founded|Int|
|Sector| Sector of service|Object|
|What it Does|Description about the company|Object|
|Founders| Founders of the company|Object|
|Investor| Investors|Object|
|Amount($)|Raised Founds|Float|
|Stage|Round of funding reached|Object|
|Headquarter|Location of company|Object|

## Data Understanding
Data Understanding phase drives the focus to identify, collect, and analyse
the data sets that can help accomplish the project goals. This
phase also has four tasks:

In [1]:
#import all necessary libraries

# data manipulation
import pandas as pd
import numpy as np

# data visualization libraries
import matplotlib.pyplot as plt
from plotly import express as px
import seaborn as sns

# statistical libraries
from scipy import stats
import statistics as stat

# database manipulation libraries
import pyodbc
from dotenv import dotenv_values

# hide warnings
import warnings
warnings.filterwarnings("ignore")

## Setup Database Connection

In [2]:
# load environment variables
environment_variables = dotenv_values(".env")

# load database configurations
database = environment_variables.get("DB_DATABASENAME")
server = environment_variables.get("DB_SERVER")
username = environment_variables.get("DB_USERNAME")
password = environment_variables.get("DB_PASSWORD")

# database connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [3]:
# create pyodbc connector
connection = pyodbc.connect(connection_string)

In [4]:
# Loading 2021 dataset from MS SQL server
query_2021 = " SELECT * FROM dbo.LP1_startup_funding2021"
df_2021 = pd.read_sql(query_2021,connection)
df_2021.head(2)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [5]:
# Load 2020 dataset from MS SQL Server
query_2020 = "SELECT * FROM dbo.LP1_startup_funding2020"
df_2020 = pd.read_sql(query_2020,connection)
df_2020.head(2)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None

In [6]:
# load 2019 dataset
df_2019 = pd.read_csv("datasets/startup_funding2019.csv")
df_2019.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [7]:
# load 2018 dataset
df_2018 = pd.read_csv("datasets/startup_funding2018.csv")
df_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...

# Data Assesment
After the data was loaded from the various sources, the data was visually assessed on Quality Issues.

## Data Quality Issues
We identified several data quality issues while exploring the datasets
1. Incosistent and missing columns:Some datasets were identified to have incosistent columns structures,with missing columns.This applies to the 2018 dataset.
2. Missing values and duplicates: There exists some null values and duplicates within the indivdual datasets.
3. Incosistent Values and currencies in the amount column: The amount column contains incosistent values and different currency types. 
4. Incosistent Values in the Sector,Location.,Industry Column: The following columns contain a lot of inconsistent values which needs to be looked at.

## Data Cleaning on the 2018 Dataset

In [8]:
# load dataset
df_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...

In [9]:
#renaming columns
df_2018= df_2018.rename(columns=lambda x: x.lower().replace(' ', '_')) 
# add founded column to the dataset
df_2018["funded_year"] = 2018
df_2018.head(1)

,company_name,industry,round/series,amount,location,about_company,funded_year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018

In [10]:
# check the shape of the 2018 dataset
df_2018.shape

(526, 7)

In [11]:
# perform descriptive statistics on the dataset
df_2018.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
company_name,526,525,TheCollegeFever,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
industry,526,405,—,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
round/series,526,21,Seed,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,526,198,—,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,526,50,"Bangalore, Karnataka, India",102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
about_company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funded_year,526.0,NaN,NaN,NaN,2018.0,0.0,2018.0,2018.0,2018.0,2018.0,2018.0

In [12]:
# check the info about the dataset
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_name   526 non-null    object
 1   industry       526 non-null    object
 2   round/series   526 non-null    object
 3   amount         526 non-null    object
 4   location       526 non-null    object
 5   about_company  526 non-null    object
 6   funded_year    526 non-null    int64
dtypes: int64(1), object(6)
memory usage: 28.9+ KB

## Observations on the 2018 dataset
- The dataset consists of 526 rows and 6 columns
- All the data types of the columns are of the object type
- The amount column must be a numeric value
- There exist some duplicates in the dataset

### Course of Action
- Convert the amount column data type to float
- Drop duplicated rows

In [19]:
# check for null values
df_2018.isna().sum()

company_name     0
industry         0
round/series     0
amount           0
location         0
about_company    0
funded_year      0
dtype: int64

In [13]:
# check for duplicated values
df_2018.duplicated().sum()

1

In [14]:
# drop the duolicate value
df_2018.drop_duplicates(inplace=True)

## Cleaning of the Amount Column
Exchange Rate Between USD and Indian Rupee as of 2018

1USD = 68.4933INR

source: https://www.poundsterlinglive.com/history/USD-INR-2018

assumption: All the amount values without any currencies are assumed to be in USD

In [15]:
df_2018["amount"].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [16]:
# create function to clean the amount column
exchange_rate = 68.4933
    
def clean_amount():
    # copy original amount columns
    amount_column = df_2018["amount"].copy().str.replace(",","") 
    # extract values in Rupees(₹)
    amount_in_rupee = amount_column[amount_column.str.startswith("₹")]
    # strip off the ₹ symbol
    amount_in_rupee = amount_in_rupee.str.lstrip("₹")
    # convert the amount in rupee to USD by the exchange rate of 68.4933
    amount_in_rupee = amount_in_rupee.apply(lambda x: float(x)/exchange_rate)
    # extract values in dollars($)
    amount_in_dollar = amount_column[amount_column.str.startswith("$")]
    # strip off the dollar symbol
    amount_in_dollar = amount_in_dollar.str.lstrip("$")
    # Replace the Unclean columns with the clean one
    amount_column.loc[amount_in_rupee.index] = amount_in_rupee
    amount_column.loc[amount_in_dollar.index] = amount_in_dollar
    
    # convert the clean column to numeric
    amount_column = pd.to_numeric(amount_column,errors="coerce")
    # update the amount column 
    df_2018["amount"] = amount_column

In [17]:
# call the clean_amount function
clean_amount()

In [19]:
# check info about the dataset after cleaning
df_2018.isnull().sum()

company_name       0
industry           0
round/series       0
amount           148
location           0
about_company      0
funded_year        0
dtype: int64

In [20]:
#renaming columns for simplicity
df_2018 = df_2018.rename(columns={"company_name":"company_brand", 
                                   "round/series":"stage",
                                   "about_company":"what_it_does"})

In [21]:
# perform a discriptive statistics on the new dataset
df_2018.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
company_brand,525,525,TheCollegeFever,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
industry,525,405,—,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stage,525,21,Seed,279,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amount,377.0,NaN,NaN,NaN,17616765.176312,77972595.460917,875.99809,500000.0,1300000.0,5000000.0,1000000000.0
location,525,50,"Bangalore, Karnataka, India",101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
what_it_does,525,524,Algorithmic trading platform.,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funded_year,525.0,NaN,NaN,NaN,2018.0,0.0,2018.0,2018.0,2018.0,2018.0,2018.0

### Cleaning the stage column

In [22]:
df_2018.stage.unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [23]:
#Clean the Stage column categorize them
 
modified_stage = {
    'Seed': 'Seed funding',
    'Angel': 'Seed funding',
    'Venture - Series Unknown': 'Series A',
    'Debt Financing': 'Series A',
    'Grant': 'Seed funding',
    'Pre-Seed': 'Pre-Seed funding',
    'Funding Round': 'Pre-Seed funding',
    'Fresh funding': 'Pre-Seed funding',
    'Pre series A': 'Series A',
    'Post series A': 'Series A',
    'Seed fund': 'Seed funding',
    'Series B+': 'Series B',
    'Seed round': 'Seed funding',
    'Pre-seed' : 'Pre-Seed funding',
    'Seed A': 'Seed funding',
    'Pre-series A' : 'Series A',
    'Pre-series' : 'Pre-Seed funding',
    'Pre-series C' : 'Series C',
    'Pre-series B' : 'Series B',
    'Pre- series A' : 'Series A',
    'Pre-Series B' : 'Series B',
    'Series A-1' : 'Series A',
    'Seies A': 'Series A',
    'Seed Funding' : 'Seed funding',
    'Pre-Seed' : 'Pre-Seed funding',
    'Seed round': 'Seed funding' ,
    'Pre-seed Round': 'Pre-Seed funding',
    'Pre Series A' : 'Series A',
    'Pre seed Round': 'Pre-Seed funding',
    'Angel Round' :  'Seed funding',
    'Pre series A1': 'Series A',
    'Pre series A' : 'Series A',
    'Seed Round' : 'Seed funding',
    'Pre seed round' : 'Pre-Seed funding',
    'Pre series B' : 'Series B',
    'Pre series C' : 'Series B',
    'Seed Investment': 'Seed funding',
    'Seed+' : 'Seed funding',
    'Series A+' : 'Series A',
    'PE' : 'Private Equity',
    'Pre-series A1' : 'Series A',
    'Early seed' : 'Pre-Seed funding',
    'Series B2' : 'Series B',
    'Series E2' : 'Series E',
    'Series D1' : 'Series D',
    'Series B3' : 'Series B',
    'Series F1' : 'Series F',
    'Series A2' : 'Series A',
    'Series F2':'Series F',
    'Series C, D': 'Series C',
    'Bridge Round': 'Bridge',
    'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593' : 'None',
    'ah! Ventures':'Series A', 
    'ITO Angel Network, LetsVenture': 'Seed funding',
    'JITO Angel Network, LetsVenture': 'Seed Funding', 
}

In [24]:
# Replacing the sector column values with the new sectors
df_2018["stage"]= df_2018["stage"].replace(modified_stage)
df_2018.stage.unique()

array(['Seed funding', 'Series A', 'Series B', 'Pre-Seed funding',
       'Private Equity', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed', 'None', 'Series D',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance'],
      dtype=object)

## Observations
- There is a vast difference between the mean and the median of the amount column which suggests outliers present in the dataset
- There exists some null values still present in the dataset 

## Course Of Actions
Fillna Values in the amount column:Impute the NaN values in the amount column with the median because of the outliers

In [25]:
# Function to fill NaN values in the amount column with the average based on stage of company
def impute_amount_column(df,filter_name,fill_value):
    unique_values = df[filter_name].unique()
    for val, avg_amount in zip(unique_values,df.groupby(filter_name)[fill_value].transform('median')):
        df.loc[df[filter_name] == val, fill_value] = df.loc[df[filter_name] == val, fill_value].fillna(avg_amount)
    return df

In [26]:
# call the impute_amount_column function
df_2018 = impute_amount_column(df_2018,"stage","amount")

In [27]:
# Split the Industry Column
industry_split = df_2018["industry"].str.split(",", expand=True)
industry_split.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Brand Marketing,Event Promotion,Marketing,Sponsorship,Ticketing,None,None,None,None,None,None,None
1,Agriculture,Farming,None,None,None,None,None,None,None,None,None,None
2,Credit,Financial Services,Lending,Marketplace,None,None,None,None,None,None,None,None
3,Financial Services,FinTech,None,None,None,None,None,None,None,None,None,None
4,E-Commerce Platforms,Retail,SaaS,None,None,None,None,None,None,None,None,None

In [28]:
# concatenate industry_split with the original df_2018
df_2018 = pd.concat([df_2018,industry_split[0]], ignore_index=False, axis=1)
df_2018.head(1)

,company_brand,industry,stage,amount,location,what_it_does,funded_year,0
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed funding,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Brand Marketing

In [29]:
# Rename the column 0 to sector
df_2018 = df_2018.rename(columns={0:"sector"})
df_2018.head()

,company_brand,industry,stage,amount,location,what_it_does,funded_year,sector
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed funding,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Brand Marketing
1,Happy Cow Dairy,"Agriculture, Farming",Seed funding,5.839987e+05,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,Agriculture
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,9.489979e+05,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,Credit
3,PayMe India,"Financial Services, FinTech",Seed funding,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,Financial Services
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed funding,5.669994e+05,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,E-Commerce Platforms

In [31]:
# Rename the column 0 to sector
df_2018 = df_2018.drop(columns={"industry"})

## Restructuring the Sector Column into Key Sectors of the Economy
source: https://www.businessinsider.in/business/startups/news/top-10-industries-for-new-startups-in-india-as-per-hurun-list/articleshow/105651758.cms

In [33]:
# Check for unique values in the sector column 

df_2018["sector"].sort_values().unique()

array(['3D Printing', 'Accounting', 'Advertising', 'Aerospace', 'AgTech',
       'Agriculture', 'Air Transportation', 'Alternative Medicine',
       'Analytics', 'Android', 'Apps', 'Artificial Intelligence', 'Audio',
       'Automotive', 'Autonomous Vehicles', 'B2B', 'Banking',
       'Basketball', 'Battery', 'Beauty', 'Big Data', 'Biopharma',
       'Biotechnology', 'Blockchain', 'Brand Marketing', 'Broadcasting',
       'Business Development', 'Business Intelligence', 'Business Travel',
       'Career Planning', 'Catering', 'Child Care', 'Children',
       'Classifieds', 'Clean Energy', 'CleanTech', 'Cloud Computing',
       'Cloud Infrastructure', 'Collaboration', 'Commercial',
       'Commercial Real Estate', 'Communities', 'Computer', 'Consulting',
       'Consumer', 'Consumer Applications', 'Consumer Electronics',
       'Consumer Goods', 'Consumer Lending', 'Continuing Education',
       'Cooking', 'Cosmetics', 'Creative Agency', 'Credit',
       'Credit Cards', 'Crowdfunding', 'Crowdsourcing', 'Cryptocurrency',
       'Customer Service', 'Dating', 'Delivery', 'Delivery Service',
       'Dental', 'Dietary Supplements', 'Digital Entertainment',
       'Digital Marketing', 'Digital Media', 'E-Commerce',
       'E-Commerce Platforms', 'E-Learning', 'EdTech', 'Education',
       'Electric Vehicle', 'Embedded Systems', 'Energy',
       'Enterprise Resource Planning (ERP)', 'Enterprise Software',
       'Environmental Consulting', 'Events', 'Eyewear',
       'Facilities Support Services', 'Fantasy Sports', 'Farming',
       'Fashion', 'File Sharing', 'FinTech', 'Finance',
       'Financial Services', 'Fitness', 'Food Delivery',
       'Food Processing', 'Food and Beverage', 'Fraud Detection',
       'Funding Platform', 'Gaming', 'Government', 'Health Care',
       'Health Diagnostics', 'Health Insurance', 'Home Decor', 'Hospital',
       'Hospitality', 'Human Resources', 'Industrial',
       'Industrial Automation', 'Information Services',
       'Information Technology', 'Insurance', 'Internet',
       'Internet of Things', 'Last Mile Transportation', 'Logistics',
       'Manufacturing', 'Market Research', 'Marketing', 'Marketplace',
       'Media and Entertainment', 'Medical', 'Medical Device', 'Mobile',
       'Mobile Payments', 'Music', 'Music Streaming', 'Nanotechnology',
       'News', 'Online Games', 'Online Portals', 'Packaging Services',
       'Reading Apps', 'Renewable Energy', 'Rental', 'Retail',
       'Search Engine', 'Smart Cities', 'Social Media', 'Software',
       'Sports', 'Tourism', 'Trading Platform', 'Training',
       'Transportation', 'Travel', 'Veterinary', 'Wealth Management',
       'Wedding', 'Wellness', 'eSports', '—'], dtype=object)

From research, there are 12 sectors in India where all these values in the sector column of the dataset can be generalised into. They are therefore mapped onto the 12 sectors which include:

- IT & Technology               
- Financial Services             
- Healthcare                     
- Consumer Goods                 
- Business Services              
- Media & Entertainment         
- Education                      
- Others                         
- Manufacturing                  
- Retail                         
- Hospitality                    
- Transportation & Logistics     
- Sports                         
- Agriculture                    
- Real Estate

In [34]:
sector_mapping = {
    '3D Printing': 'IT & Technology',
    'Accounting': 'Business Services',
    'Advertising': 'Media & Entertainment',
    'Aerospace': 'Manufacturing',
    'AgTech': 'Agriculture',
    'Agriculture': 'Agriculture',
    'Air Transportation': 'Transportation & Logistics',
    'Alternative Medicine': 'Healthcare',
    'Analytics': 'IT & Technology',
    'Android': 'IT & Technology',
    'Apps': 'IT & Technology',
    'Artificial Intelligence': 'IT & Technology',
    'Audio': 'Media & Entertainment',
    'Automotive': 'Manufacturing',
    'Autonomous Vehicles': 'Manufacturing',
    'B2B': 'Business Services',
    'Banking': 'Financial Services',
    'Basketball': 'Sports',
    'Battery': 'IT & Technology',
    'Beauty': 'Consumer Goods',
    'Big Data': 'IT & Technology',
    'Biopharma': 'Healthcare',
    'Biotechnology': 'Healthcare',
    'Blockchain': 'IT & Technology',
    'Brand Marketing': 'Media & Entertainment',
    'Broadcasting': 'Media & Entertainment',
    'Business Development': 'Business Services',
    'Business Intelligence': 'Business Services',
    'Business Travel': 'Business Services',
    'Career Planning': 'Business Services',
    'Catering': 'Hospitality',
    'Child Care': 'Business Services',
    'Children': 'Consumer Goods',
    'Classifieds': 'Media & Entertainment',
    'Clean Energy': 'IT & Technology',
    'CleanTech': 'IT & Technology',
    'Cloud Computing': 'IT & Technology',
    'Cloud Infrastructure': 'IT & Technology',
    'Collaboration': 'IT & Technology',
    'Commercial': 'Real Estate',
    'Commercial Real Estate': 'Real Estate',
    'Communities': 'IT & Technology',
    'Computer': 'IT & Technology',
    'Consulting': 'Business Services',
    'Consumer': 'Consumer Goods',
    'Consumer Applications': 'IT & Technology',
    'Consumer Electronics': 'Consumer Goods',
    'Consumer Goods': 'Consumer Goods',
    'Consumer Lending': 'Financial Services',
    'Continuing Education': 'Education',
    'Cooking': 'Hospitality',
    'Cosmetics': 'Consumer Goods',
    'Creative Agency': 'Business Services',
    'Credit': 'Financial Services',
    'Credit Cards': 'Financial Services',
    'Crowdfunding': 'Financial Services',
    'Crowdsourcing': 'Business Services',
    'Cryptocurrency': 'Financial Services',
    'Customer Service': 'Business Services',
    'Dating': 'Media & Entertainment',
    'Delivery': 'Transportation & Logistics',
    'Delivery Service': 'Transportation & Logistics',
    'Dental': 'Healthcare',
    'Dietary Supplements': 'Healthcare',
    'Digital Entertainment': 'Media & Entertainment',
    'Digital Marketing': 'Media & Entertainment',
    'Digital Media': 'Media & Entertainment',
    'E-Commerce': 'Retail',
    'E-Commerce Platforms': 'Retail',
    'E-Learning': 'Education',
    'EdTech': 'Education',
    'Education': 'Education',
    'Electric Vehicle': 'Transportation & Logistics',
    'Embedded Systems': 'IT & Technology',
    'Energy': 'IT & Technology',
    'Enterprise Resource Planning (ERP)': 'IT & Technology',
    'Enterprise Software': 'IT & Technology',
    'Environmental Consulting': 'Business Services',
    'Events': 'Hospitality',
    'Eyewear': 'Consumer Goods',
    'Facilities Support Services': 'Business Services',
    'Fantasy Sports': 'Sports',
    'Farming': 'Agriculture',
    'Fashion': 'Consumer Goods',
    'File Sharing': 'IT & Technology',
    'FinTech': 'Financial Services',
    'Finance': 'Financial Services',
    'Financial Services': 'Financial Services',
    'Fitness': 'Sports',
    'Food Delivery': 'Hospitality',
    'Food Processing': 'Consumer Goods',
    'Food and Beverage': 'Consumer Goods',
    'Fraud Detection': 'Financial Services',
    'Funding Platform': 'Financial Services',
    'Gaming': 'Media & Entertainment',
    'Government': 'Business Services',
    'Health Care': 'Healthcare',
    'Health Diagnostics': 'Healthcare',
    'Health Insurance': 'Financial Services',
    'Home Decor': 'Consumer Goods',
    'Hospital': 'Healthcare',
    'Hospitality': 'Hospitality',
    'Human Resources': 'Business Services',
    'Industrial': 'Manufacturing',
    'Industrial Automation': 'Manufacturing',
    'Information Services': 'IT & Technology',
    'Information Technology': 'IT & Technology',
    'Insurance': 'Financial Services',
    'Internet': 'IT & Technology',
    'Internet of Things': 'IT & Technology',
    'Last Mile Transportation': 'Transportation & Logistics',
    'Logistics': 'Transportation & Logistics',
    'Manufacturing': 'Manufacturing',
    'Market Research': 'Business Services',
    'Marketing': 'Media & Entertainment',
    'Marketplace': 'Retail',
    'Media and Entertainment': 'Media & Entertainment',
    'Medical': 'Healthcare',
    'Medical Device': 'Healthcare',
    'Mobile': 'IT & Technology',
    'Mobile Payments': 'Financial Services',
    'Music': 'Media & Entertainment',
    'Music Streaming': 'Media & Entertainment',
    'Nanotechnology': 'IT & Technology',
    'News': 'Media & Entertainment',
    'Online Games': 'Media & Entertainment',
    'Online Portals': 'Media & Entertainment',
    'Packaging Services': 'Manufacturing',
    'Reading Apps': 'Media & Entertainment',
    'Renewable Energy': 'IT & Technology',
    'Rental': 'Real Estate',
    'Retail': 'Retail',
    'Search Engine': 'IT & Technology',
    'Smart Cities': 'IT & Technology',
    'Social Media': 'Media & Entertainment',
    'Software': 'IT & Technology',
    'Sports': 'Sports',
    'Tourism': 'Hospitality',
    'Trading Platform': 'Financial Services',
    'Training': 'Education',
    'Transportation': 'Transportation & Logistics',
    'Travel': 'Hospitality',
    'Veterinary': 'Healthcare',
    'Wealth Management': 'Financial Services',
    'Wedding': 'Hospitality',
    'Wellness': 'Healthcare',
    'eSports': 'Sports',
    '—': 'Others'
}

In [36]:
# Replacing the sector column values with the new sectors
df_2018["sector"]= df_2018["sector"].replace(sector_mapping)
df_2018.head(2)

,company_brand,stage,amount,location,what_it_does,funded_year,sector
0,TheCollegeFever,Seed funding,250000.000000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Media & Entertainment
1,Happy Cow Dairy,Seed funding,583998.726883,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,Agriculture

In [37]:
df_2018["sector"].value_counts()

sector
IT & Technology               116
Financial Services             77
Healthcare                     45
Consumer Goods                 44
Business Services              36
Media & Entertainment          32
Education                      31
Others                         30
Manufacturing                  29
Retail                         26
Hospitality                    19
Transportation & Logistics     14
Sports                         12
Agriculture                    10
Real Estate                     4
Name: count, dtype: int64

In [38]:
others_cat = df_2018[df_2018["sector"] == "Others" ]
others_cat

,company_brand,stage,amount,location,what_it_does,funded_year,sector
58,MissMalini Entertainment,Seed funding,1.518397e+06,"Mumbai, Maharashtra, India",MissMalini Entertainment is a multi-platform n...,2018,Others
105,Jagaran Microfin,Series A,8.029982e+06,"Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution...,2018,Others
121,FLEECA,Seed funding,5.669994e+05,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.,2018,Others
146,WheelsEMI,Series B,1.400000e+07,"Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI...",2018,Others
153,Fric Bergen,Series A,5.669994e+05,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...,2018,Others
174,Deftouch,Seed funding,5.669994e+05,"Bangalore, Karnataka, India",Deftouch is a mobile game development company ...,2018,Others
181,Corefactors,Seed funding,5.669994e+05,"Bangalore, Karnataka, India","Corefactors is a leading campaign management, ...",2018,Others
210,Cell Propulsion,Seed funding,1.021998e+05,"Bangalore, Karnataka, India",Cell Propulsion is an electric mobility startu...,2018,Others
230,Flathalt,Seed funding,5.000000e+04,"Gurgaon, Haryana, India",FInd your Customized Home here.,2018,Others
235,dishq,Seed funding,4.000000e+05,"Bengaluru, Karnataka, India",dishq leverages food science and machine learn...,2018,Others
238,Trell,Seed funding,1.250000e+06,"Bangalore City, Karnataka, India",Trell is a location based network which helps ...,2018,Others
242,HousingMan.com,Seed funding,1.503797e+06,"Bengaluru, Karnataka, India","New Apartments, Flats for Sale in Bangalore",2018,Others
243,Steradian Semiconductors,Seed funding,5.669994e+05,"Bangalore, Karnataka, India",It is a fabless semiconductor company focused ...,2018,Others
247,SaffronStays,Seed funding,2.000000e+06,"Mumbai, Maharashtra, India",SaffronStays connects travellers to India's In...,2018,Others
251,Inner Being Wellness,Seed funding,5.109989e+05,"Hyderabad, Andhra Pradesh, India","Inner Being Wellness manufactures beauty, well...",2018,Others
257,MySEODoc,Seed funding,5.669994e+05,"Delhi, Delhi, India","SEO, PPC, Search Engine Marketing, Social Medi...",2018,Others
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,Seed funding,2.919994e+03,"Pune, Maharashtra, India",Digital Marketing Agency,2018,Others
259,Scale Labs,Seed funding,1.000000e+06,"Delhi, Delhi, India",Scale Labs is a cross border e-commerce soluti...,2018,Others
294,Roadcast,Seed funding,2.500000e+05,"New Delhi, Delhi, India",Transforming the way businesses deliver. Work-...,2018,Others
325,Toffee,Seed funding,1.500000e+06,"Gurgaon, Haryana, India","Toffee is a bite size, micro-event & contextua...",2018,Others
326,ORO Wealth,Series A,1.600000e+06,"Mumbai, Maharashtra, India",Online wealth management platform,2018,Others
346,Finwego,Seed funding,5.669994e+05,"Chennai, Tamil Nadu, India",Finwego partners with Small and Medium Busines...,2018,Others
398,Cred,Seed funding,5.669994e+05,"Bengaluru, Karnataka, India",Cred is a platform to celebrate and reward the...,2018,Others
457,Origo,Series A,1.167997e+07,"Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man...",2018,Others
472,Sequretek,Series A,3.700000e+06,"Mumbai, Maharashtra, India",Sequretek is a cyber security start-up.,2018,Others
473,Avenues Payments India Pvt. Ltd.,Corporate Round,1.300000e+06,"Mumbai, Maharashtra, India",Avenues Payments is an IT solutions provider f...,2018,Others
476,Planet11 eCommerce Solutions India (Avenue11),Corporate Round,3.795992e+06,"Bengaluru, Karnataka, India","Planet11 is backed by SK Planet, which is a pa...",2018,Others
478,Iba Halal Care,Series A,2.189995e+06,"Ahmedabad, Gujarat, India",Iba Halal Care is a cosmetics brand company.,2018,Others
480,Togedr,Series A,5.669994e+05,"Gurgaon, Haryana, India",Togedr is an activity discovery & booking plat...,2018,Others
510,Scholify,Pre-Seed funding,5.669994e+05,"Bengaluru, Karnataka, India",Edutech,2018,Others

## Recategorizing the Others Values into their appropriate sectors

In [39]:
# view the descriptions of the companies with the others categories
others_cat["what_it_does"]

58     MissMalini Entertainment is a multi-platform n...
105    Jagaran Microfin is a Microfinance institution...
121              FLEECA is a Tyre Care Provider company.
146    WheelsEMI is the brand name of NBFC, WheelsEMI...
153    Fric Bergen is a leader in the specialty food ...
174    Deftouch is a mobile game development company ...
181    Corefactors is a leading campaign management, ...
210    Cell Propulsion is an electric mobility startu...
230                      FInd your Customized Home here.
235    dishq leverages food science and machine learn...
238    Trell is a location based network which helps ...
242          New Apartments, Flats for Sale in Bangalore
243    It is a fabless semiconductor company focused ...
247    SaffronStays connects travellers to India's In...
251    Inner Being Wellness manufactures beauty, well...
257    SEO, PPC, Search Engine Marketing, Social Medi...
258                             Digital Marketing Agency
259    Scale Labs is a cross border e-commerce soluti...
294    Transforming the way businesses deliver. Work-...
325    Toffee is a bite size, micro-event & contextua...
326                    Online wealth management platform
346    Finwego partners with Small and Medium Busines...
398    Cred is a platform to celebrate and reward the...
457    Origo Commodities, a complete post-harvest man...
472              Sequretek is a cyber security start-up.
473    Avenues Payments is an IT solutions provider f...
476    Planet11 is backed by SK Planet, which is a pa...
478         Iba Halal Care is a cosmetics brand company.
480    Togedr is an activity discovery & booking plat...
510                                              Edutech
Name: what_it_does, dtype: object

In [40]:
# create dictionary to contain the keywords in the what_it_does column
keywords = {
    'entertainment': 'Media & Entertainment',
    'microfinance': 'Financial Services',
    'tyre care': 'Consumer Goods',
    'nbfc': 'Financial Services',
    'specialty food': 'Consumer Goods',
    'mobile game development': 'IT & Technology',
    'campaign management': 'Business Services',
    'electric mobility startup': 'Transportation & Logistics',
    'food science': 'Consumer Goods',
    'machine learning': 'IT & Technology',
    'location based network': 'IT & Technology',
    'real estate': 'Real Estate',
    'semiconductor company': 'IT & Technology',
    'travellers accommodation': 'Hospitality',
    'beauty, wellness': 'Wellness',
    'search engine marketing': 'IT & Technology',
    'digital marketing agency': 'Business Services',
    'cross border e-commerce solutions': 'Business Services',
    'wealth management platform': 'Financial Services',
    'micro-event & contextual marketing': 'Business Services',
    'partners with small and medium businesses': 'Financial Services',
    'celebrate and reward': 'Financial Services',
    'post-harvest management': 'Business Services',
    'cyber security': 'IT & Technology',
    'cosmetics brand': 'Consumer Goods',
    'activity discovery & booking platform': 'Hospitality',
    'edutech': 'Education'
}

In [41]:

# Function to assign sector based on description
def assign_sector(what_it_does):
    for keyword,sector in keywords.items():
        if keyword in what_it_does.lower():
            return sector
    return "Others" #Keep Others if no keyword matches

In [42]:
# Update sectors for entries currently labeled as "Others"
df_2018.loc[df_2018['sector'] == 'Others', 'sector'] = df_2018.loc[df_2018['sector'] == 'Others', 'what_it_does'].apply(assign_sector)

In [43]:
# confirm changes
df_2018["sector"].value_counts()

sector
IT & Technology               121
Financial Services             82
Consumer Goods                 48
Healthcare                     45
Business Services              40
Media & Entertainment          33
Education                      32
Manufacturing                  29
Retail                         26
Hospitality                    20
Transportation & Logistics     15
Sports                         12
Agriculture                    10
Others                          7
Real Estate                     4
Wellness                        1
Name: count, dtype: int64

## Cleaning the Location Column

### Observations From The Column
- The format of the data found in the column mostly are city,state,country format
### Tasks to Performed
- Split the Column values by comma
- Drop the state and the country columns
- Retain the city column and rename it headquarter to be in-line with the other three datasets

In [44]:
# look for unique values in the location column
df_2018["location"].unique()

array(['Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [45]:
# Split the location Column
df_2018[["headquarter", "state","country"]] = df_2018["location"].str.split(",", n=2, expand=True)
df_2018.head(1)

,company_brand,stage,amount,location,what_it_does,funded_year,sector,headquarter,state,country
0,TheCollegeFever,Seed funding,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,Media & Entertainment,Bangalore,Karnataka,India

In [53]:
# check for the unique states in the dataset
df_2018["state"].unique()

KeyError: 'state'

In [50]:
# drop the state column 
df_2018.drop(columns={"state"},inplace=True)

KeyError: "['state'] not found in axis"

In [51]:
# drop the country column 
df_2018.drop(columns={"country"},inplace=True)

In [52]:
df_2018['headquarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'],
      dtype=object)

In [54]:
# Modified location mapping
modified_location ={
    'Bengaluru': 'Bangalore',
    'Delhi': 'New Delhi',
    'Bangalore City' : 'Bangalore',
    #'Gurgaon' : 'Gurugram',
    'Haryana': 'Chandigarh',
    'Uttar Pradesh' : 'Noida',
    'Uttar pradesh' : 'Noida',
    'Tamil Nadu': 'Chennai',
    'Faridabad, Haryana': 'Faridabad',
    'Computer Games': 'Undisclosed',
    'Telangana': 'Hyderabad',  # 2019
    'Dhingsara, Haryana': 'Chandigarh',
    'The nilgiris': 'Chennai',
    'Santra': 'Bhopal',
    'India': 'New delhi',
    'Gurugram\\t#ref!': 'Gurgaon',
    '"Gurugram\t#ref!"': 'Gurgaon',
    'Banglore': 'Bangalore',
    'Singapore': 'Overseas',
    'Frisco, Texas, United States': 'Overseas',
    'California': 'Overseas',
    'New York, United States': 'Overseas',
    'San Francisco, California, United States': 'Overseas',
    'San Francisco, United States': 'Overseas',
    'San Ramon, California': 'Overseas',
    'Paris, Ile-de-France, France': 'Overseas',
    'Plano, Texas, United States': 'Overseas',
    'Sydney': 'Overseas',
    'San Francisco Bay Area, Silicon Valley, West Coast': 'Overseas',
    'Bangaldesh': 'Overseas',
    'London, England, United Kingdom': 'Overseas',
    'Sydney, New South Wales, Australia': 'Overseas',
    'Milano, Lombardia, Italy': 'Overseas',
    'Palmwoods, Queensland, Australia': 'Overseas',
    'France': 'Overseas',
    'San Francisco Bay Area, West Coast, Western US': 'Overseas',
    'Tangerang, Jawa Barat, Indonesia': 'Overseas',
    'Berlin': 'Overseas',
    'Seattle': 'Overseas',
    'Riyadh': 'Overseas',
    'Seoul': 'Overseas',
    'New York': 'Overseas',
    'Bangkok': 'Overseas',
    'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom': 'Overseas',
    'Shanghai, China': 'Overseas',
    'Jiaxing, Zhejiang, China': 'Overseas',
    'Irvine, California, United States': 'Overseas',
    'San Franciscao' : 'Overseas',
    'San Francisco': 'Overseas',
    'Jaipur, Rajastan': 'Jaipur',
    'Rajastan': "Jaipur",
    'Tumkur, Karnataka': 'Tumkur',
    'Samastipur, Bihar': 'Samastipur',
    #'None' : 'Undisclosed',
    'Tumkur, Karnataka' : 'Tumkur',
    'Information Technology & Services': 'Undisclosed',
    'Tirunelveli, Tamilnadu': 'Tirunelveli',
    'Trivandrum, Kerala, India': 'Trivandrum',
    'Manchester': 'Overseas',
    'Mountain View, CA' : 'Overseas',
    'London' : 'Overseas',
    'The Nilgiris' :'Chennai',
    'Beijing' : 'Overseas',
    'Small Towns, Andhra Pradesh': 'Amaravati',
    'Goa' : 'Panaji',
    'West Bengal' : 'Kolkata',
    'Telugana': 'Telangana',
    'Orissia': 'Odisha',
    'Jharkhand': 'Ranchi',
    'Thiruvananthapuram': 'Trivandrum',
    'Gurugram\t#REF!': 'Gurgaon'
   
 
 
}

In [55]:
df_2018.replace({'headquarter': modified_location}, inplace=True)

In [56]:
df_2018["headquarter"] = df_2018["headquarter"].replace("India","New Delhi")

## Data Cleaning on the 2019 Dataset

In [57]:
df_2019= df_2019.rename(columns=lambda x: x.lower().replace(' ', '_')) 
#renaming columns
df_2019 = df_2019.rename(columns={"company/brand":"company_brand", "amount($)":"amount"})
#adding year column
df_2019["funded_year"] = 2019

In [58]:
df_2019.drop_duplicates(inplace=True)

In [65]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  89 non-null     object
 1   founded        60 non-null     float64
 2   headquarter    70 non-null     object
 3   sector         84 non-null     object
 4   what_it_does   89 non-null     object
 5   founders       86 non-null     object
 6   investor       89 non-null     object
 7   amount         77 non-null     float64
 8   stage          43 non-null     object
 9   funded_year    89 non-null     int64
dtypes: float64(2), int64(1), object(7)
memory usage: 7.1+ KB

### Cleaning the amount column

In [59]:
df_2019.amount.unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [60]:
df_2019.loc[df_2019.amount== 'Undisclosed']

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN,2019
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN,2019
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,Undisclosed,NaN,2019
14,Open Secret,NaN,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,Undisclosed,NaN,2019
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",Undisclosed,Pre series A,2019
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,It uses technology to create a trust-based net...,"Dhiraj Naubhar, Dheeraj Bansal",Inflection Point Ventures,Undisclosed,NaN,2019
32,Pumpkart,2014.0,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN,2019
45,Afinoz,NaN,Noida,Fintech,Online financial marketplace for customized ra...,Rachna Suneja,Fintech innovation lab,Undisclosed,NaN,2019
54,Ninjacart,2015.0,NaN,B2B Supply Chain,It connects producers of food directly to reta...,"Thirukumaran Nagarajanin, Vasudevan Chinnathambi","Walmart, Flipkart",Undisclosed,NaN,2019
55,Binca Games,2014.0,Mumbai,Games,It offers games that are available across Indi...,"Rubianca Wadhwa, Sahil Wadhwa",Sunil Gavaskar,Undisclosed,NaN,2019
65,Cubical Labs,2013.0,NaN,IoT,Home automation solution provider,"Dhruv Ratra, Swati Vyas",Rockstud Capital,Undisclosed,Series B,2019
75,Sportido,2015.0,Noida,Sports,It is a sports discovery app that helps to fin...,"Neeraj Aggarwala, Akhil Ramachandran","Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B,2019

In [61]:
#creating a function on amount column for 2019
def clean_amount():
    # copy original amount columns
    amount_column = df_2019["amount"].copy().str.replace(",","") 
    
    # extract values in dollars($)
    amount_in_dollar = amount_column[amount_column.str.startswith("$")]
    # strip off the dollar symbol
    amount_in_dollar = amount_in_dollar.str.lstrip("$")
    # Replace the Unclean columns with the clean one

    amount_column.loc[amount_in_dollar.index] = amount_in_dollar
    
    # convert the clean column to numeric
    amount_column = pd.to_numeric(amount_column,errors="coerce")
    # update the amount column 
    df_2019["amount"] = amount_column

In [62]:
clean_amount()

In [63]:
df_2019.amount.unique()

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06,       nan,
       1.000e+06, 2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05,
       5.400e+08, 1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07,
       1.500e+06, 5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07,
       3.200e+07, 2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08,
       8.000e+06, 1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06,
       3.600e+07, 5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07,
       2.200e+05, 2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06,
       6.930e+08, 3.300e+07])

### Cleaning the stage column for 2019

In [64]:
# Replacing the sector column values with the new sectors
df_2019["stage"]= df_2019["stage"].replace(modified_stage)
df_2019.stage.unique()

array([nan, 'Series C', 'Pre-Seed funding', 'Series D', 'Series A',
       'Series G', 'Series B', 'Seed funding', 'Series E', 'Series F'],
      dtype=object)

In [66]:
# call the impute_amount_column function
df_2019 = impute_amount_column(df_2019,"stage","amount")

## Data Cleaning on the 2020 Dataset

In [67]:
#First dropping unuseful columns 
df_2020.drop(columns =  "column10", inplace = True)

#Adding the year column
df_2020["funded_year"] = 2020

In [68]:
df_2020= df_2020.rename(columns=lambda x: x.lower().replace(' ', '_')) 
#dropping duplicates
df_2020.drop_duplicates(inplace=True)

In [69]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1052 non-null   object
 1   founded        839 non-null    float64
 2   headquarter    958 non-null    object
 3   sector         1039 non-null   object
 4   what_it_does   1052 non-null   object
 5   founders       1040 non-null   object
 6   investor       1014 non-null   object
 7   amount         799 non-null    float64
 8   stage          590 non-null    object
 9   funded_year    1052 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 90.4+ KB

In [70]:
df_2020.isnull().sum()

company_brand      0
founded          213
headquarter       94
sector            13
what_it_does       0
founders          12
investor          38
amount           253
stage            462
funded_year        0
dtype: int64

There is no cleaning of the amount column in string format as it is already of datatype integer. It however has 253 null values that needs to be filled with the median

In [71]:
# Replacing the sector column values with the new sectors
df_2020["stage"]= df_2020["stage"].replace(modified_stage)
df_2020.stage.unique()

array([None, 'Pre-Seed funding', 'Seed funding', 'Series A', 'Series C',
       'Series B', 'Debt', 'Series E', 'Bridge', 'Series D', 'Series F',
       'Edge', 'Series H', 'Seed Round & Series A', 'Mid series'],
      dtype=object)

In [72]:
# call the impute_amount_column function
df_2020 = impute_amount_column(df_2020,"stage","amount")

## Data Cleaning on the 2021 Dataset

In [73]:
#Cleaning the column names of the 2021_dataset
df_2021= df_2021.rename(columns=lambda x: x.lower().replace(' ', '_'))
#Adding the year column
df_2021["funded_year"] = 2021

In [74]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  1209 non-null   object
 1   founded        1208 non-null   float64
 2   headquarter    1208 non-null   object
 3   sector         1209 non-null   object
 4   what_it_does   1209 non-null   object
 5   founders       1205 non-null   object
 6   investor       1147 non-null   object
 7   amount         1206 non-null   object
 8   stage          781 non-null    object
 9   funded_year    1209 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 94.6+ KB

### Cleaning the amount column for 2021

In [75]:
df_2021.amount.unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [76]:
df_2021.drop_duplicates(inplace=True)

In [77]:
#checking for values that do not have the dollar sign attached to them for further investigation
df_2021[~df_2021.amount.str.get(0).isin(['$'])]

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A,2021
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None,2021
21,Uable,2020.0,Bangalore,EdTech,Uable offers role based programmes to empower ...,Saurabh Saxena,"Chiratae Ventures, JAFCO Asia",Undisclosed,Seed,2021
39,TruNativ,2019.0,Mumbai,Food & Beverages,TruNativ Foods & Beverages Pvt Ltd,"Pranav Malhotra, Mamta Malhotra",9Unicorns,Undisclosed,Seed,2021
54,AntWak,2019.0,Bangalore,EdTech,AntWak provides a video platform for e-learnin...,"Basav Nagur, Joybroto Ganguly, Sudhanshu Shekh...","Vaibhav Domkundwar, Kunal Shah",Undisclosed,Seed,2021
64,Rage Coffee,2018.0,New Delhi,Food & Beverages,Rage Coffee is infused with plant based vitami...,Bharat Sethi,"GetVantage, Prakash Katama",Undisclosed,Pre-series A,2021
67,Kudos,2014.0,Pune,FinTech,"Kudos is a full stack NBFC, a digital lending ...",Naresh Vigh,Marquee fintech founders,Undisclosed,Pre-series A,2021
86,Onsurity,2020.0,Bangalore,HealthCare,Onsurity is an employee healthcare platform pr...,"Kulin Shah, Yogesh Agarwal","Jitendra Gupta, Harsh Shah",None,None,2021
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None,2021
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000,Seed,None,2021
316,Hubhopper,2015.0,New Delhi,Podcast,"Hubhopper is India's leading podcast hosting, ...",Gautam Raj Anand,"ITI Growth Opportunities Fund, Unit-E Ventures",Undisclosed,None,2021
319,Battery Smart,2019.0,New Delhi,Battery,Battery Smart provides advanced Li-ion batteri...,"Pulkit Khurana, Siddharth Sikka",Orios Venture Partners,Undisclosed,Seed,2021
321,Onelife,2019.0,Mumbai,Healthcare,Aspire to leverage the gifts of nature and sci...,Gaurav Aggarwal,Wipro venture capital arm,Undisclosed,None,2021
325,Aisle,2014.0,Bangalore,Dating,Aisle connects the new generation of single in...,Able Joseph,"Anas Rahman Junaid, Vinod Jose",Undisclosed,Pre-series A,2021
334,Zingbus,2019.0,Haryana,Transportation,Zingbus is an emerging brand in the intercity ...,Mratunjay Beniwal,"Venture Catalysts, 9Unicorns Accelerator Fund",Undisclosed,Pre-series A,2021
336,Codingal,2020.0,Bangalore,EdTech,Coding education platform for K-12 students,"Satyam Baranwal, Vivek Prakash","Y Combinator, Rebright Partners",Undisclosed,None,2021
345,Hypd Store,2020.0,New Delhi,Content commerce,"A shop worthy content platform, personalized!","Ashwarya Garg, Akshay Bhatnagar",ScoopWhoop,Undisclosed,Pre-seed,2021
367,PrepBytes,2019.0,Gurugram,EdTech,PrepBytes helps college students to learn codi...,"Aditya Bhushan Verma, Mamta Kumari",Equanimity Ventures,Undisclosed,None,2021
376,ExMyB,2018.0,Gurugram,Consulting,ExMyB provides financial service and consultin...,Nishant Behl,Campus Fund,Undisclosed,Seed,2021
379,Qin1,2019.0,Noida,EdTech,Re-imagining Kids of 21st Century!,Ishan Gupta,Venture Catalysts,Undisclosed,Pre-series A,2021
383,KIKO TV,2020.0,Mumbai,E-commerce,KIKO TV is an AI-based short live video e-comm...,Shivam Varshney,"Sunil Kumar Singhvi, 9Unicorns Accelerator Fund",Undisclosed,Pre-series A,2021
384,Quali55Care,2018.0,Mumbai,Health care,Deliver highly durable & affordable medical eq...,Harddik K Patel,India Accelerator’s Angel Investor Network,Undisclosed,Seed,2021
386,RevFin,2018.0,New Delhi,FinTech,RevFin is a digital lending company.,Sameer Aggarwal,Shell Foundation,Undisclosed,None,2021
393,Zouk,2016.0,Mumbai,Fashion and lifestyle,100% Vegan bags from India.,Disha Singh,Titan Capital,Undisclosed,Seed,2021
406,Digit Insurance,2016.0,Bangalore,FinTech,Digit Insurance is a financial services compan...,Kamesh Goyal,"A91 Partners, Faering Capital",Undisclosed,None,2021
429,Bolkar,2018.0,Bangalore,Social network,Bolkar App is an Audio Based Q&A platform for ...,"Abhishek Tripathi, Dhruv Kaushal, Prince Tripa...","GSF, Pras Hanuma",Undisclosed,None,2021
430,Wright Research,2019.0,Mumbai,Advisory firm,Quantitative Investment Management and Research,Sonam Srivastava,"Ajat Hukkoo, Piyush Chaplot",Undisclosed,Pre-seed,2021
437,Oneiric Gaming,2020.0,Chandigarh,Gaming,Oneiric Gaming connects to fellow dreamers aro...,Avneet Singh,Trishneet Arora,Undisclosed,None,2021
452,Agri10x,2018.0,Pune,AgriTech,Agri10x integrates the entire Agri value-chain...,"Abhijith Naraparaju, Pankajj P. Ghode, Sundeep...",Omnivore,Undisclosed,Seed,2021
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,2021
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,Pre-series A,None,2021
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,2021
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,2021
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021
724,Instoried,2018.0,Bangalore,Content creation,Instoried is an augmented writing platform whi...,"Sharmin Ali, Sutanshu Raj","EXPERT DOJO, Mumbai Angels",Undisclosed,None,2021
732,Homingos,2018.0,Bangalore,Augmented reality,Homingos is an Augmented reality (AR)-based so...,"Shourya Agarwal, Malhar Patil, Rajat Gupta","Sundi Natarajan, Srinivas Anumolu",Undisclosed,None,2021
733,Anar Business Community,2020.0,Mumbai,Tech Startup,Anar is a communications and networking platfo...,"Nishank Jain, Sanjay Bhat","Titan Capital, First Cheque",Undisclosed,None,2021
735,Settlrs,2018.0,Bangalore,Rental space,"A B2B rental services company for furniture, h...","Gaurav Ranebennur, Nishanth Janadri",MaGEHold Pte. Ltd.,Undisclosed,Pre-series A,2021
766,Wysa,2015.0,Bangalore,AI startup,Wysa is an AI conversational agent that has be...,"Jo Aggarwal, Ramakant Vempati","Kae Capital, Pi Ventures",Undisclosed,None,2021
769,Firmway,2016.0,Mumbai,FinTech,Firmway is a platform that digitizes balance c...,"Prashant Gupta, Vivek Chandan",None,Undisclosed,Pre-seed,2021
794,Bijnis,2014.0,New Delhi,B2B service,Digitizing the Factories of the Unorganised In...,"Chaitanya Rathi, Shubham Agarwal, Siddharth Ra...","Sequoia Capital India, Matrix Partners India",Undisclosed,None,2021
801,Virohan,2018.0,Gurugram,EdTech,Virohan is an edtech company using technology ...,"Archit Jayasal, Kunaal Dudeja, Nalin Saluja","National Skill Development Corporation, Rianta...",Undisclosed,None,2021
807,ParkSmart,2018.0,New Delhi,Automotive,ParkSmart is a parking management application.,"Prateek Garg, Rahul Gupta, Ratan Anmol Sethi, ...","Shireen Rangaswamy, Dilesh Gathani",Undisclosed,Seed,2021
810,Spark Studio,2020.0,Bangalore,EdTech,Online courses to build creativity and confide...,Anushree Goenka,Better Capital,Undisclosed,Seed,2021
814,Keito,2016.0,Pune,AI company,NO-CODE <> Human-assisted machine learning pla...,Amal P S,"Rajesh Agarwal, Nandkishore Mundada",Undisclosed,Seed,2021
820,LegalPay,2019.0,New Delhi,FinTech,A trusted financial partner for advocates and ...,Kundan Shahi,9Unicorns,Undisclosed,Seed,2021
824,Avalon Labs,2017.0,Bangalore,FinTech,"Avalon Labs incubates, invests, partners with ...",Varun Mayya,"Tanglin Ventures, Better Capital, Whiteboard C...",Undisclosed,Pre-series A,2021
827,Rezo.ai,2017.0,Noida,AI startup,Conversational AI platform - Innovate the way ...,"Manish Gupta, Rashi Gupta","Devesh Sachdev, Bhavesh Manglani",Undisclosed,Seed,2021
833,Polygon,2017.0,Mumbai,Crypto,Polygon is a blockchain scalability platform.,"Jaynti Kanani, Sandeep Nailwal, Anurag Arjun","Mark Cuban, MiH Ventures",Undisclosed,None,2021
846,Ingenium,2018.0,New Delhi,EdTech,Ingenium Education has been pushing e-learning...,"Pramudit Somvanshi, Mohit Patel, Aakash Gupta",Lead Angels,Undisclosed,Seed,2021
853,Celcius,2020.0,Mumbai,Logistics,The “ONLINE” Cold Chain network for Reefer tru...,"Swarup Bose, Rajneesh Raman, Arbind Jain",Eaglewings Ventures,Undisclosed,Seed,2021
1100,Sochcast,2020.0,Online Media\t#REF!,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana, A...","Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed,None,None,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000\t#REF!,Seed,None,2021

In [78]:
#creating a function to put the roaming amount values back in the right amount column
def replace_original(df, row_index, column_a, column_b):
    """Replaces the original amount value with the current wrong value if possible"""
   

    #Parameters:
    #df (DataFrame): The DataFrame containing the columns.
    #column1 (str): Name of the first column.
    #column2 (str): Name of the second column.
    #row_index (int): Index of the row where values should be swapped.

    #Returns:
    #DataFrame: The DataFrame with values swapped in the specified row.
    
    # Get the values to be swapped
    first_value = df.loc[row_index, column_a]
    second_value = df.loc[row_index, column_b]

    # Swap the values
    df.loc[row_index, column_a] = second_value
    df.loc[row_index, column_b] = first_value

    return df

In [79]:
#calling the function of detected rows
replace_original(df_2021,98,'amount','stage')
replace_original(df_2021,242,'amount','stage')
replace_original(df_2021,242,'investor','amount')
replace_original(df_2021,257,'investor','amount')
replace_original(df_2021,538,'amount','stage')
replace_original(df_2021,545,'amount','stage')
replace_original(df_2021,545,'investor','amount')
replace_original(df_2021,551,'amount','stage')
replace_original(df_2021,674,'amount','stage')
replace_original(df_2021,677,'amount','stage')
replace_original(df_2021,1100,'investor','amount')
replace_original(df_2021,1148,'amount','stage')
replace_original(df_2021,1148,'investor','amount')

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A,2021
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D,2021
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C,2021
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B,2021
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A,2021

In [80]:
df_2021.amount.unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       '$1200000', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', '$96000000', '$60000000',
       '$500000000', '$266000000', '$4500000', '$325000000', '$6500000',
       '$1600000', '$150000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$53000000', '$1100000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$100,000,000', '$75,000,000', '$3,800,000', '$12,000,000',
       '$1,600,000', '$260,000', '$1,000,000,000', '$18,000,000',
       '$20,000,000', '$350,000', '$95,000,000', '$4,100,000',
       '$5,200,000', '$8,000,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$7,000,000', '$11,000,000',
       '$280,000,000', '$50,000,000', '$14,300,000', '$81,000,000',
       '$1,300,000', '$8,200,000', '$70,000,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', '$45000000', '$3200000',
       '$370000', '$48000000', '$3600000', '$11000000', '$192000000',
       '$65000000', '$1400000', '$1900000', '$41000000', '$144000000',
       '$5200000', '$270000000', '$140000', '$250000000', '$320000',
       '$350000000', '$4800000', '$38000000', '$125000', '$26000000',
       '$64000000', '$620000', '$900000', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$6,300,000', '$12,500,000', '$24,000,000', '$140,000',
       '$16,500,000', '$340,000', '$43,000,000', '$150,000,000',
       '$3300000', '$92000000', '$17000000', '$135000000', '$$1,55,000',
       '$2100000', '$840000000', '$248000000', '$4300000', '$570000',
       '$2200000', '$4700000', '$300000000', '$260000000', '$140000000',
       '$175000000', '$19000000', '$810000', '$7500000', '$600000000',
       '$90000000', '$5700000', '$6750000', '$78000000', '$5400000',
       '$115000000', '$255000000', '$18000000', '$570000000', '$550000',
       '$2700000', '$4200000', '$31000000', '$540000', '$14000000',
       '$340000', '$', '$6200000', '1000000\t#REF!', '$750000',
       '$6300000', '$23000000', '$55000000'], dtype=object)

In [81]:
# Remove the word with a value
df_2021['amount'] = df_2021['amount'].str.replace("1000000\t#REF!" , '1000000').replace('$Undisclosed', np.NaN).replace('$undisclosed',np.NaN).replace('Undisclosed', np.NaN)

In [83]:
#creating a function on amount column for 2021
def clean_amount():
    # copy original amount columns
    amount_column = df_2021["amount"].copy().str.replace(",","") 
    
    # extract values in dollars($)
    amount_in_dollar_1 = amount_column[amount_column.str.startswith("$", na=False)]
    # strip off the dollar symbol
    amount_in_dollar_1 = amount_in_dollar_1.str.lstrip("$")

    # extract values in dollars($)
    amount_in_dollar_2 = amount_column[amount_column.str.startswith("$$", na=False)]

     # strip off the dollar symbol
    amount_in_dollar_2 = amount_in_dollar_2.str.lstrip("$$")
    # Replace the Unclean columns with the clean one

    amount_column.loc[amount_in_dollar_1.index] = amount_in_dollar_1
    amount_column.loc[amount_in_dollar_2.index] = amount_in_dollar_2
    
    # convert the clean column to numeric
    amount_column = pd.to_numeric(amount_column,errors="coerce")
    # update the amount column 
    df_2021["amount"] = amount_column

In [84]:
clean_amount()

### Cleaning the stage column for 2021

In [86]:
df_2021.stage.unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       'Upsparks', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', 'ah! Ventures', 'ITO Angel Network, LetsVenture',
       'Early seed', 'Series D1', 'JITO Angel Network, LetsVenture',
       'Seies A', 'Pre-series', 'Series A2', 'Series I'], dtype=object)

In [87]:
# Replacing the sector column values with the new sectors
df_2021["stage"]= df_2021["stage"].replace(modified_stage)
df_2021.stage.unique()

array(['Series A', None, 'Series D', 'Series C', 'Seed funding',
       'Series B', 'Series E', 'Pre-Seed funding', 'Debt', 'Upsparks',
       'Bridge', 'Series F', 'Series G', 'Series H', 'Private Equity',
       'Seed Funding', 'Series I'], dtype=object)

In [88]:
# call the impute_amount_column function
df_2021 = impute_amount_column(df_2021,"stage","amount")

### Concatenation of the 2019-2021 dataset

In [89]:
#concatenating the datasets into a single dataframe
df = pd.concat([df_2019,df_2020,df_2021],ignore_index=True)
df.head(2)

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C,2019

In [90]:
# check the shape of the dataset
df.shape

(2331, 10)

In [91]:
# check the general information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  2331 non-null   object
 1   founded        2088 non-null   float64
 2   headquarter    2217 non-null   object
 3   sector         2313 non-null   object
 4   what_it_does   2331 non-null   object
 5   founders       2312 non-null   object
 6   investor       2228 non-null   object
 7   amount         2068 non-null   float64
 8   stage          1404 non-null   object
 9   funded_year    2331 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 182.2+ KB

In [92]:
#refining the stages even more based on research about stages of funding
refined_stage = {
    'Pre-Seed funding': 'Ideation',
    'Mid series' : 'Validation',
    'Seed Round & Series A': 'Validation',
    'Seed funding': 'Validation',
    'Series A':'Early Traction',
    'Series B': 'Scaling',
    'Series C': 'Scaling',
    'Series D': 'Scaling',
    'Series E': 'Scaling',
    'Series F': 'Scaling',
    'Series G': 'Scaling',
    'Series H': 'Scaling',
    'Series I': 'Scaling',
    'Post-IPO Debt':'Exit Option' ,
    'Post-IPO Equity': 'Exit Option',
    'Secondary Market': 'Exit Option',
    'Private Equity': 'Other',
    'Corporate Round': 'Other',
    'Undisclosed' : 'Other',
    'Non-equity Assistance': 'Other',
    'Debt': 'Other',
    'Bridge': 'Other',
    'Edge': 'Other',
    'Upsparks': 'Other',
    
}

In [93]:
# Replacing the sector column values with the new sectors
df["stage"]= df["stage"].replace(refined_stage)
df.stage.unique()

array([nan, 'Scaling', 'Ideation', 'Early Traction', 'Validation', None,
       'Other', 'Seed Funding'], dtype=object)

In [94]:
df.replace({'headquarter': modified_location}, inplace=True)

In [95]:
#further finetuning location
df.headquarter.unique()

array([nan, 'Mumbai', 'Chennai', 'Hyderabad', 'Pune', 'Bangalore',
       'Noida', 'New Delhi', 'Ahmedabad', 'Gurugram', 'Chandigarh',
       'Jaipur', 'Surat', 'Rajasthan', 'Indore', 'Gurgaon', 'Belgaum',
       'Andheri', 'Kolkata', 'Tirunelveli', 'Thane', None, 'Overseas',
       'Gujarat', 'Kerala', 'Jodhpur', 'Patna', 'Trivandrum', 'Cochin',
       'Samastipur', 'Tumkur', 'Kochi', 'Ludhiana', 'Dehradun', 'Kanpur',
       'Warangal', 'Hyderebad', 'Odisha', 'Bihar', 'Panaji', 'Bhopal',
       'Coimbatore', 'Ahmadabad', 'Amaravati', 'Rajsamand', 'Ranchi',
       'Faridabad', 'Undisclosed', 'Vadodara', 'Food & Beverages',
       'Pharmaceuticals\t#REF!', 'Mohali', 'Powai', 'Ghaziabad', 'Nagpur',
       'Samsitpur', 'Lucknow', 'Silvassa', 'Roorkee', 'Ambernath',
       'Panchkula', 'Mangalore', 'Telangana', 'Bhubaneswar', 'Kottayam',
       'Satara', 'Bhilwara', 'Guwahati', 'Online Media\t#REF!',
       'Gandhinagar'], dtype=object)

In [96]:
#investigating abnormal values
df[df['headquarter'] == 'Food & Beverages']

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
1377,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Validation,2021

In [97]:
#investigating abnormal values
df[df['headquarter'] == 'Pharmaceuticals\t#REF!']

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
1378,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,None,22000000.0,Scaling,2021

In [98]:
#investigating abnormal values
df[df['headquarter'] == 'Online Media\t#REF!']

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
2222,Sochcast,2020.0,Online Media\t#REF!,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana, A...","Vinners, Raj Nayak, Amritaanshu Agrawal",None,NaN,None,2021

In [99]:
#calling function to swap values to their original columns
replace_original(df,1377,'sector','headquarter')
replace_original(df,1378,'founders','investor')
replace_original(df,1378,'founders','what_it_does')
replace_original(df,1378,'what_it_does','sector')
replace_original(df,1378,'sector','headquarter')
replace_original(df,2222,'sector','headquarter')
replace_original(df,2222,'what_it_does','headquarter')
replace_original(df,2222,'investor','headquarter')

,company_brand,founded,headquarter,sector,what_it_does,founders,investor,amount,stage,funded_year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Scaling,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Ideation,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Scaling,2019
4,Nu Genes,2004.0,Hyderabad,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN,2019
...,...,...,...,...,...,...,...,...,...,...
2326,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Early Traction,2021
2327,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000.0,Scaling,2021
2328,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Scaling,2021
2329,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000.0,Scaling,2021
2330,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000.0,Early Traction,2021

In [100]:
#Hauz Khas is a neighbourhood in South Dlhi
df['headquarter'] = df['headquarter'].replace('Hauz Khas','Delhi')